<h3> Ask you coach anything! </h3>

<form action="/answer" method="get" data-turbo="false">
  <div class="d-inline-flex justify-content-start">
    <input class="form-control form-control-lg" type="text" name="question" placeholder="What do you want?" aria-label=".form-control-lg example">
    <input type="submit" class="btn btn-primary" value="Ask!">
  </div>
</form>
